@import "~bulma/css/bulma.css"

body, html
  height: 100%

#app
  margin-bottom: 0px !important

.app-container
  position: relative
  overflow: hidden
  height: 100%
  width: 100%

.upload
  position: absolute
  right: 0
  left: 0
  bottom: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 255, 0, .2)

.upload.is-global
  position: absolute
  background-color: rgba(255, 0, 0, .2)
  bottom: 0
  top: 0
  width: 100%

.section
  width: 80%
  height: 100px;
  position: relative
  background-color: rgba(100, 100, 100, .2)
